/* background */
/* botoes */
/* cores de texto */

body {
  font-family: "Montserrat", sans-serif;
}

:root {

     --primary-color: red;
  --secondary-color: #B81515;

  --background-primary-color: white;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;


  --text-primary-color: #0a020f;
  --text-secondary-color: #FFFFFF;

  --title-weight: 700;
  --menu-text-weight: 500;
  --text-weight:400; 
} 

h1 {
  font-weight: var(--title-weight);
   font-family: "Montserrat", sans-serif;
   color: var(--primary-color);
}

.menu {
  font-weight: var(--menu-text-weight);
}

body {
  font-weight: 400;
}


/* CSS RESET */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-primary-color)
}

.section-title h2 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 0;
    text-align: center;
}
  
.section-title hr {
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px auto 32px;
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover{
    background-color: var(--primary-color);
  }
}
