.hero-img {
    height: 400px;
    width: 100%;
    background-image: url(banner-home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .hero-img {
    height: 620px;
    background-image: url(hero-tablet.jpg);
    background-repeat: no-repeat;
}